* {
  box-sizing: border-box;
}

html {
  /* 10px if the browser was 16px*/
  /* 1rem === 10px @ medium browser settings */
  font-size: 62.5%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
}

.title {
  margin: 15px 0;
  font-size: 6.0rem;
  border: 1px solid blue;
}

.todos-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: 800px;
  border: 1px solid darkviolet;
}

.todos-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 600px;
  font-size: 3.0rem;
  border: 1px solid red;
}

.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  font-size: 2.4rem;
  margin: 10px 0;
  border: 1px solid orange;
  border-bottom: 1px solid black;
}

.todos-list-input {
  font-size: 2.6rem;
  padding-left: 10px;
  width: 90%;
  height: 50px;
  margin: 20px 0;
  border: 1px solid black;
  border-radius: 3px;
}

.todos-list-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 45px;
  font-size: 2.6rem;
  border-radius: 20px;
  margin-bottom: 20px;
}

.todos-list-button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}